.com_header, 
.com_el, 
.com_elements, 
.com_navigation, 
.com_image, 
.com_otherLangs, 
.com_image_props
{  border:solid 1px #fee; background-color: #fff; width:auto;}

hr.cleaner{ clear:both; }

.com_wrapper{ width:900px; margin: 0 auto; }
.com_body{ }

.com_elements{ margin: 0 auto; }
.com_el { float:left; padding:20px; margin:10px; }
.com_el ul{ margin: 0; padding: 0; }
.com_el li{ float:left; list-style: none inside none; margin:5px; }

.com_navigation{ clear: both; text-align: center; }

.com_image{ text-align: center; }
.com_image_props{ }

.com_otherLangs { height:30px; /*clear:both;*/ }
.com_otherLangs ul{ margin: 0; padding: 0; }
.com_otherLangs li{ float:left; list-style: none inside none; margin:5px; }

a.active_page{text-decoration: none;}